header {
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  padding: 29px;
  position: absolute;
  left: 0;
  top: 30%;
}
